#app, #root {
    height: 100%;
}

#header {
    height: 20%;
}

#title, #circle, #scores, #currentScore, #bestScore, .pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    background-color: rgb(240, 0, 0);
    border-bottom: 20px solid rgb(60, 60, 61);
    height: 100%;
    flex-direction: column;
    font-size: 20px;
}

#circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 5px solid rgb(60, 60, 61);
    background-color: rgb(240, 240, 240);
    position: relative;
    left: 50vw;
    bottom: 3.5vh;
}

#incircle {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    border: 3px solid rgb(60, 60, 61);
    background-color: rgb(240, 240, 240);
}

#cards {
    height: 80%;
    margin-top: 40px;
}

#scores {
    gap: 300px;
}

#currentScore, #bestScore {
    border-radius: 10px;
    height: 30px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#currentScore {
    background-color: rgb(169, 169, 243);
}

#bestScore {
    background-color: rgb(138, 243, 138);
}

#gameBoard {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.pokemon {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
    width: 150px;
    background-color: rgb(250, 246, 246);
    flex-direction: column;
    margin: auto;
}

.pokemon:hover {
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.pokemonImage {
    height: 180px;
    width: 150px;
    object-fit: contain;
}

.pokemonName {
    font-size: 20px;
}

